* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

#page-1 {
  align-items: center;
  background-color: #292C34;
  background-image: url('./assets/rooftops-bw.png');
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#page-2 {
  background-color: #292C34;  
}

.header-img {
  position: absolute;
  width: 100vw;
}

.header-title {
  color: #d1b042;
  font-size: 6rem;
  font-weight: 100;
}

.career-title {
  background-color: rgba(41, 44, 52, 0.389);
  color: #d1b042;
  font-size: 5.5rem;
  font-weight: 100;
  margin-top: 30px;
  padding-bottom: 20px;
}

.head-img {
  width: 100vw;
  margin-top: -100px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.link-target:hover > .link-icon {
  fill: #D6D3CB;
}

#page-2 {
  background-color: #292C34;
}

.top-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -40px;
}

.top-logos > img {
  margin: 0 10px;
}

#page-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 140vh;
  justify-content: center;
  background-color: #292C34;
}

.section-title {
  color: #d1b042;
  font-size: 5.5rem;
  font-weight: 100;
  margin: 80px;
}

.project-title {
  color: #f2f2f2;
  font-size: 3rem;
}

.main-content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.iphone {
  position: absolute;
}

.demo-vid {
  left: 14px;
  position: relative;
  top: 80px;
}

.description {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.description > p {
  font-size: 1.35rem;  
  font-weight: 100;
  margin: 15px;
}

.docswap-text {  
  margin-left: 10%;
}

.tokentracker-text {
  margin-right: 10%;
}

.nav-link {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin: 40px 0 20px 20px;
  text-decoration: none;
  transition: .3s;    
}

.github-icon {
  fill: #f2f2f2;
  transition: .3s;  
}

.nav-link:hover,
.nav-link:hover > .github-icon {
  color: #ff23f4;
}

.nav-link:hover > .github-icon {
  fill:#ff23f4;
}

.phone-display {
  margin-bottom: 150px;
}

#page-4,
#page-5,
#page-6,
#page-7,
#page-8,
#page-9 {
  align-items: center;
  background-color: #292C34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.tokentracker-vid {
  left: 14px;
  position: relative;
  top: 80px;
}

.heroku-icon {
  transition: .3s;  
}

.nav-link:hover > .heroku-icon {
  fill:#ff23f4;
}

.gif,
.code-snippet {
  margin: 30px;
  transition: all .3s ease-in-out;
  width: 400px;
}

.grow-right:hover {
  transform: scale(1.3);
  margin-left: 50px;
}

.app-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%
}

.app-demo {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.grow-left:hover {
  transform: scale(1.3);
}

.right-text {
  margin-left: 10%;
}

.left-text {
  height: 90%;
}

#contact-page {
  align-items: center;
  background-image: url("./assets/contact-img.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.email-link {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #292C34;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 60px;
  justify-content: center;
  text-decoration: none;
  transition: .3s;  
  width: 300px;
}

.email-link:hover {
  background-color: #d1b042;
}

.email {
  font-weight: 400;
}

@media (max-width: 930px) {
  .header-title,
  .career-title {
    font-size: 5em;
  }

  .main-content {
    flex-direction: column;
  }

  .description {
    margin: 0;
    min-height: 400px;
    width: 80%;
  }

  .app-demo {
    min-height: 200px;
  }

  .right-text,
  .left-text {
    margin: 20px;
  }

  .grow-left:hover,
  .grow-right:hover {
    transform: scale(1);
    margin-left: 0px;
  }

  #page-3,
  #page-4 {
    height: 400vh;
  }

  #page-5,
  #page-6,
  #page-7,
  #page-8,
  #page-9 {
    height: 150vh;
  }
}