* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

#page-1 {
  background-color: #292C34;
  height: 100vh;
}

.head-img {
  width: 100vw;
}

#page-2 {
  background-color: #292C34;  
}

.top-three-logos {
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}

.logos-row-2 {
  display: flex;
  justify-content: space-around;
  margin-top: -45px;
}

.node {
  margin-left: 210px;
}

.postgresql {
  margin-right: 210px;
}

.logos-row-3 {
  display: flex;
  justify-content: space-around;
  margin-top: -45px;  
}

#page-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #292C34;
}

.project-title {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 80px;
}

.main-content {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.iphone {
  position: absolute;
}

.demo-vid {
  left: 14px;
  position: relative;
  top: 80px;
}

.description {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  width: 45%;
}

.docswap-text {
  margin-left: 10%;
}

.tokentracker-text {
  margin-right: 10%;
}

p {
  margin: 15px;
}

.nav-link {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin-top: 40px;
  text-decoration: none;
}

.github-icon {
  fill: #f2f2f2;
}

.nav-link:hover {
  color: #ff23f4;
}

.nav-link:hover > .github-icon {
  fill:#ff23f4;
}

.phone-display {
  margin-top: 30px;
}

#page-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #292C34;
}

.tokentracker-vid {
  left: 14px;
  position: relative;
  top: 80px;
}
