* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

#top {
  background: url('./assets/palms-and-grass.png') no-repeat top center fixed;
  background-size: 100vw 100vh;
  /* align-items: center;
  display: flex;
  flex-direction: column; */
  height: 105vh;
  position: relative;
  /* justify-content: center; */
}

.top-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  margin-top: 35px;
  opacity: 0;
}

.header-title {
  color: #EAE7DC;
  text-shadow: 0 0 25px #182524;
  font-size: 4rem;
  font-weight: 600;
  transition: all 700ms ease-in-out;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.link-target:hover > .link-icon {
  fill: #D6D3CB;
}

/* #page-1::after {
  content: '';
  background: url('./assets/jb-river.png') no-repeat top center fixed;
  background-size: 100vw 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

/* .scroll-words span {
  animation: fadeWords 9s linear 0s;
  color: #E98074;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}

.scroll-words span:nth-child(2) {
  animation-delay: 3s;
}
.scroll-words span:nth-child(3) {
  animation-delay: 6s;
}
.scroll-words span:nth-child(4) {
  animation-delay: 9s;
}

@keyframes fadeWords {
  0% { opacity: 0; }
  8% { opacity: 0.5; }
  19% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
} */

/* .name-title span {
  animation: fadeWords 0s ease-in-out 12s;
  color: rgb(138, 138, 142);
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  opacity: 0;
  position: absolute;
} */

#floating-menu {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  position: absolute;
  transition: all 400ms;
  width: 100vw;
}

#sticky-menu {
  background-color: #8e8d8ade;
  position: sticky;
  top: 0;
  transition: all 400ms;
  width: 100vw;
  z-index: 100;
}

.hide {
  /* display: none; */
  opacity: 0;
}

.show {
  /* display: unset; */
  opacity: 1
}

#floating-menu div {
  display: flex;
  justify-content: space-around;
  margin: 0 25%;
}

#sticky-menu div {
  display: flex;
  justify-content: space-around;
  margin: 0 25%;
}

.menu-link {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #E85A4F;
}

.sticky-link {
  color: #EAE7DC;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

#about {
  background: none;
}



/* .career-title {
  background-color: rgba(41, 44, 52, 0.389);
  color: #d1b042;
  font-size: 5.5rem;
  font-weight: 100;
  margin-top: 30px;
  padding-bottom: 20px;
} */



/* .top-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -40px;
} */

.top-logos > img {
  margin: 0 10px;
}

#page-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 140vh;
  justify-content: center;
  background-color: #eae7dc;
}

.section-title {
  color: #E85A4F;
  font-size: 5.5rem;
  font-weight: 100;
  margin: 80px;
}

.project-title {
  color: #f2f2f2;
  font-size: 3rem;
}

.main-content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.iphone {
  position: absolute;
}

.demo-vid {
  left: 14px;
  position: relative;
  top: 80px;
}

.description {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.description > p {
  font-size: 1.35rem;  
  font-weight: 100;
  margin: 15px;
}

.docswap-text {  
  margin-left: 10%;
}

.tokentracker-text {
  margin-right: 10%;
}

.nav-link {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin: 40px 0 20px 20px;
  text-decoration: none;
  transition: .3s;    
}

.github-icon {
  fill: #f2f2f2;
  transition: .3s;  
}

.nav-link:hover,
.nav-link:hover > .github-icon {
  color: #ff23f4;
}

.nav-link:hover > .github-icon {
  fill:#ff23f4;
}

.phone-display {
  margin-bottom: 150px;
}

#page-4,
#page-5,
#page-6,
#page-7,
#page-8,
#page-9 {
  align-items: center;
  background-color: #eae7dc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.tokentracker-vid {
  left: 14px;
  position: relative;
  top: 80px;
}

.heroku-icon {
  transition: .3s;  
}

.nav-link:hover > .heroku-icon {
  fill:#ff23f4;
}

.gif,
.code-snippet {
  margin: 30px;
  transition: all .3s ease-in-out;
  width: 400px;
}

.grow-right:hover {
  transform: scale(1.3);
  margin-left: 50px;
}

.app-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%
}

.app-demo {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.grow-left:hover {
  transform: scale(1.3);
}

.right-text {
  margin-left: 10%;
}

.left-text {
  height: 90%;
}

#contact-page {
  align-items: center;
  background-image: url("./assets/contact-img.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.email-link {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #292C34;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 60px;
  justify-content: center;
  text-decoration: none;
  transition: .3s;  
  width: 300px;
}

.email-link:hover {
  background-color: #d1b042;
}

.email {
  font-weight: 400;
}

@media (max-width: 930px) {
  .header-title,
  .career-title {
    font-size: 5em;
  }

  .main-content {
    flex-direction: column;
  }

  .description {
    margin: 0;
    min-height: 400px;
    width: 80%;
  }

  .app-demo {
    min-height: 200px;
  }

  .right-text,
  .left-text {
    margin: 20px;
  }

  .grow-left:hover,
  .grow-right:hover {
    transform: scale(1);
    margin-left: 0px;
  }

  #page-3,
  #page-4 {
    height: 400vh;
  }

  #page-5,
  #page-6,
  #page-7,
  #page-8,
  #page-9 {
    height: 150vh;
  }
}